/*  ****************************************************************************  */
/*                                                                                */
/*     42Gamedev - GameJam Saison 1                ██╗  ██╗██████╗                */
/*                                                 ██║  ██║╚════██╗               */
/*     Team: rbourgea                              ███████║ █████╔╝               */
/*     Date: 2021/10/31                            ╚════██║██╔═══╝                */
/*     Time: 72h                                        ██║███████╗               */
/*                                                      ╚═╝╚══════╝GamDev.fr      */
/* *****************************************************************************  */

@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

:root {
    --pixel-size: 2px;
    --grid-cell: calc( var(--pixel-size) * 16);
    --bg: #000000;
}
 
@media( min-width: 700px ) {
    :root {
        --pixel-size: 3px;
    }
}
@media( min-width: 1000px ) {
    :root {
        --pixel-size: 4px;
    }
}
 
html, body {
    height: 100%;
    font-family: "Press Start 2P";
    overflow: hidden;
}
 
body {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pixel-art {
    image-rendering: pixelated;
}

.frame {
    width: calc(var(--pixel-size) * 160);
    height: calc(var(--pixel-size) * 144);
    outline: var(--pixel-size) solid rgb(255, 145, 0);
    z-index: 1; 
    position: relative;
}

.camera {
    width: calc(var(--pixel-size) * 160);
    height: calc(var(--pixel-size) * 144);
    overflow: hidden;
    background: rgb(255, 145, 0);
    position: relative;
}

.map {
    image-rendering: pixelated;
    background-image: url("assets/map1.png");
    background-size: 100%;
    width: calc(13 * var(--grid-cell));
    height: calc(10 * var(--grid-cell));
    position: relative;
}

.map1 {
    background-image: url("assets/map1.png");
}

.map2 {
    background-image: url("assets/map.png");
}

.character {
    width: calc( var(--grid-cell)* 2 );
    height: calc( var(--grid-cell)* 2 );
    position: absolute;
    overflow: hidden;
}

.shadow {
    width: calc( var(--grid-cell)* 2 );
    height: calc( var(--grid-cell)* 2 );
    position: absolute;
    left:0;
    top:0;
    background: url("assets/shadow.png") no-repeat no-repeat;
    background-size: 100%;
}

.character_sprite {
    position: absolute;
    background: url("assets/character.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc( var(--grid-cell)* 8 );
    height: calc( var(--grid-cell)* 8 );
}

.character[facing="right"] .character_sprite {
    background-position-y: calc( var(--pixel-size) * -32 );
}
.character[facing="up"] .character_sprite {
    background-position-y: calc( var(--pixel-size) * -64 );
}
.character[facing="left"] .character_sprite {
    background-position-y: calc( var(--pixel-size) * -96 );
}
.character[walking="true"] .character_sprite {
    animation: walkAnimation 0.6s steps(4) infinite; 
}

@keyframes walkAnimation {
    from {
        transform: translate3d(0%,0%,0);
    }
    to {
        transform: translate3d(-100%,0%,0);
    }
}

.dpad {
    position:absolute;
    right: calc(var(--pixel-size) * 2);
    bottom: calc(var(--pixel-size) * 2);
    width: calc(var(--pixel-size) * 37);
    height: calc(var(--pixel-size) * 38);
}
.dpad-button {
    appearance:none;
    outline:0;
    border:0;
    background:transparent;
    padding:0;
    cursor:pointer;
}
.dpad-button svg {
    display:block;
    height: calc(var(--pixel-size) * 13);
}

.dpad-button.pressed .Arrow_arrow-inset { stroke:#ff7300; }
.dpad-button.pressed .Arrow_arrow-body { stroke:#df9f6b; }

.dpad-up {
    position: absolute;
    left: calc(var(--pixel-size) * 12);
    top: 0;
}
.dpad-down {
    position: absolute;
    bottom: var(--pixel-size);
    left: calc(var(--pixel-size) * 12);
}
.dpad-left {
    position: absolute;
    top: calc(var(--pixel-size) * 12);
    left: 0;
}
.dpad-right {
    position: absolute;
    top: calc(var(--pixel-size) * 12);
    right: 0;
}
.dpad-right-right {
    position: absolute;
    top: calc(var(--pixel-size) * 12);
    left: calc(var(--pixel-size) * -100);
}

.dpad {
    user-select:none;
}


.corner_topleft,
.corner_topright,
.corner_bottomleft,
.corner_bottomright {
    position: absolute;
    width: var(--pixel-size);
    height: var(--pixel-size);
    background: var(--bg);
    z-index:2;
}

.corner_topleft {
    top: calc(var(--pixel-size) * -1);
    left: calc(var(--pixel-size) * -1);
}
.corner_topright {
    top: calc(var(--pixel-size) * -1);
    right: calc(var(--pixel-size) * -1);
}
.corner_bottomleft {
    bottom: calc(var(--pixel-size) * -1);
    left: calc(var(--pixel-size) * -1);
}
.corner_bottomright {
    bottom: calc(var(--pixel-size) * -1);
    right: calc(var(--pixel-size) * -1);
}

.headline {
    position:absolute;
    top:calc(var(--pixel-size) * 2);
    right:calc(var(--pixel-size) * 2);
    width: calc(var(--pixel-size) * 75)
}

.info {
    background-color: #ffff;
    border-radius: calc(6 * var(--pixel-size));;
    width: calc(4.5 * var(--grid-cell));
    height: calc(0.75 * var(--grid-cell));
    z-index: 0;
    position: fixed;
    --b:5px;  /* the thickness */
    --c:rgb(88, 88, 88); /* the color */
}

.info::before,
.info::after { 
  content: "";
  position: absolute;
  inset: 0 0 50% 0;
  background:
    linear-gradient(var(--c) 0 0) 50%   0  /calc(100% - 4*var(--b)) var(--b),
    linear-gradient(var(--c) 0 0) 0%   100%/var(--b) calc(100% - 2*var(--b)),
    linear-gradient(var(--c) 0 0) 100% 100%/var(--b) calc(100% - 2*var(--b)),
    conic-gradient(from  90deg,var(--c) 90deg,#0000 0) 0    0/calc(2*var(--b)) calc(2*var(--b)),
    conic-gradient(from 180deg,var(--c) 90deg,#0000 0) 100% 0/calc(2*var(--b)) calc(2*var(--b));
  background-repeat: no-repeat;
}
.info::after {
  transform-origin: bottom;
  transform: scaleY(-1);
}

.text-info {
    padding: calc(3 * var(--pixel-size));
    font-size: calc(2.5 * var(--pixel-size));
    color: rgb(66, 66, 66);
}

/* Prevent to trag or select */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.cauldron_sprite {
    position: absolute;
    background: url("assets/cauldron.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc( var(--grid-cell)* 2 );
    height: calc( var(--grid-cell)* 2 );
}

.phantomichel_sprite {
    position: absolute;
    background: url("assets/phantomichel.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc( var(--grid-cell)* 2 );
    height: calc( var(--grid-cell)* 2 );
}

/* Collectables: */
.skull_sprite {
    position: absolute;
    background: url("assets/skull.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc( var(--grid-cell)* 2 );
    height: calc( var(--grid-cell)* 2 );
}

.eye_sprite {
    position: absolute;
    background: url("assets/eye.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc( var(--grid-cell)* 2 );
    height: calc( var(--grid-cell)* 2 );
}

.orange {
    color: orange;
    font-weight: bold;
}

.inventory {
    top: calc( var(--grid-cell)* -1 ) !important;
    left: calc( var(--grid-cell)* -1 ) !important;
    position: relative;
    color: white;
}

.inventory>.box {
    position: fixed;
    display: flex;
    flex-direction: column;
}

.item>.pixel-art {
    width: 100px;
    vertical-align: -100%;
}

.map1-hidden {
    visibility: hidden;
}